.app {
  background-color: lightcyan;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}
.main {
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
}